<div class="content-heading">
    <div>
        <span>Users</span>
        <small>Users</small>
    </div>
</div>

<div class="card card-default">
   <div class="card-body">
		 <%= search_form_for @q, url: backend_users_path, html: { method: :get } do |f| %>
      <fieldset>
          <div class="form-row">
              <div class="col-lg-6">
                    <%= f.label :phone_number, "Phone Number", class:"col-md-4 col-form-label" %>
                    <div class="col-lg-8">
                      <%= f.search_field :phone_number_eq, { include_blank: true, :class=>"form-control", id: "phone_number"}%>
                    </div>
              </div>
              <div class="col-lg-6">
                    <%= f.label :id_number, "ID Number", class:"col-md-4 col-form-label" %>
                    <div class="col-lg-8">
                      <%= f.search_field :id_number_eq, { include_blank: true, :class=>"form-control", id: "id_number"}%>
                    </div>
              </div>
          </div>
      </fieldset>
      <!-- <div class="card-footer"> -->
         <div class="clearfix">
            <div class="float-left">
               <%= f.submit 'Search', :class=>'btn btn-danger mb-2' %>
            </div>
            <div class="float-right">
               <%= f.submit 'Search', :class=>'btn btn-danger mb-2' %>
            </div>
         </div>
      <!-- </div> -->
			<% end %>
   </div>
</div>

<div class="table-responsive">
  <!-- table table-striped table-bordered table-hover -->
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Phone Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>ID Number</th>
        <th>Nationality</th>
        <th>Balance</th>
        <th>Sign In Count</th>
        <th>Last Sign In IP</th>
        <th>Failed Attempts</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
			<% @users.each_with_index do |user, i| %>
				<tr>
					<td><%= (i+1)%></td>
          <td>
            <a href="<%= backend_user_path(id:user) %>">
              <%= user.phone_number %></td>
            </a>
          </td>
					<td><%= user.first_name %></td>
					<td><%= user.last_name %></td>
          <td><%= user.id_number %></td>
          <td><%= user.nationality %></td>
          <td><%= user.balance %></td>

					<td><%= user.sign_in_count %></td>

          <td><%= user.last_sign_in_ip%></td>
					<td><%= user.failed_attempts %></td>
          <td>
            <% if user.account_active == true %>
              <div class="badge badge-success">
                ACTIVE
              </div>
            <% else %>
              <div class="badge badge-warning">
                SUSPENDED
              </div>
            <% end %>
          </td>
          <td>
            <% if user.account_active == true %>
              <%= button_to "Suspend", backend_suspend_path(id: user.id), class: "btn btn-xs btn-danger", method: :post %>
            <% else %>
              <%= button_to "Activate", backend_activate_path(id: user.id), class: "btn btn-xs btn-success", method: :post %>
            <% end %>
          </td>
				</tr>
			<% end %>
    </tbody>
  </table>
	<%= paginate @users %>
   <% if current_admin.role == "manager" %>
   <div class="">
      <%= link_to "Download", backend_users_path(params.merge(format: 'csv')) %>
   </div>
   <% end %>
</div>
