<div class="card-header">
   <h6>
        <span class="float-left">
        <span><%= fixture.comp_one_name %> <span class="score" id=<%="match_score_#{fixture.id}"%>><%= fixture.home_score %> - <%= fixture.away_score %> </span><%= fixture.comp_two_name %>  </span>
        </span>
        <span class="float-right blinking match-time" id=<%="match_time_#{fixture.id}"%>> <%= fixture.match_time %> </span>
   </h6>
</div>
<div class="card-body">
   <div class='row'>
       <div class="col-lg-12">
           <% if fixture.market1_live.present? && fixture.market1_live.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                       Match Result 1X2 - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row" data-controller="live-odds-channel #markets-channel slips" data-live-odds-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-slips-market="1" data-live-odds-channel-market="1" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="1" data-markets-channel-url=<%="/fixtures/soccer/live.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "1", fixture_id: fixture.id, market: "Market1Live", outcome_desc: "1X2 FT - 1") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Home Win</span> 
                           <span class="wagger-amt" id=<%="live_1_#{fixture.id}"%>> <%= fixture.market1_live.outcome_1 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "2", fixture_id: fixture.id, market: "Market1Live", outcome_desc: "1X2 FT - X") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Draw</span> 
                           <span class="wagger-amt" id=<%="live_2_#{fixture.id}"%>> <%= fixture.market1_live.outcome_2 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "3", fixture_id: fixture.id, market: "Market1Live", outcome_desc: "1X2 FT - 2") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Away Win</span> 
                           <span class="wagger-amt" id=<%="live_3_#{fixture.id}"%>> <%= fixture.market1_live.outcome_3 %>  </span>
                       <% end %>
                   </div>
               </div>
           </div>
           <% end %>
           <% if fixture.market10_live.present? && fixture.market10_live.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                       Double Chance - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row market" data-controller="live-odds-channel #markets-channel slips" data-live-odds-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-slips-market="10" data-live-odds-channel-market="10" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="10" data-markets-channel-url=<%="/fixtures/soccer/live.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "9", fixture_id: fixture.id, market: "Market10Live", outcome_desc: "Double Chance FT - HW/DR") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Home Win / Draw</span> 
                           <span class="wagger-amt" id=<%="live_9_#{fixture.id}"%>> <%= fixture.market10_live.outcome_9 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "10", fixture_id: fixture.id, market: "Market10Live", outcome_desc: "Double Chance FT - HW/AW") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Home / Away</span> 
                           <span class="wagger-amt" id=<%="live_10_#{fixture.id}"%>> <%= fixture.market10_live.outcome_10 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "11", fixture_id: fixture.id, market: "Market10Live", outcome_desc: "Double Chance FT - DR/AW") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Draw / Away Win</span> 
                           <span class="wagger-amt" id=<%="live_11_#{fixture.id}"%>> <%= fixture.market10_live.outcome_11 %>  </span>
                       <% end %>
                   </div>
               </div>
           </div>
           <% end %>
           <% if fixture.market16_live.present? && fixture.market16_live.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                       Handicap 1 Goal - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row" data-controller="live-odds-channel #markets-channel slips" data-live-odds-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-slips-market="16" data-live-odds-channel-market="16" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="16" data-markets-channel-url=<%="/fixtures/soccer/live.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "1714", fixture_id: fixture.id, market: "Market16Live", outcome_desc: "Handicap 1 FT -  HW") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Home -1</span> 
                           <span class="wagger-amt" id=<%="live_1714_#{fixture.id}"%>> <%= fixture.market16_live.outcome_1714 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "1715", fixture_id: fixture.id, market: "Market16Live", outcome_desc: "Handicap 1 FT - AW") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Away -1</span> 
                           <span class="wagger-amt" id=<%="live_1715_#{fixture.id}"%>> <%= fixture.market16_live.outcome_1715 %>  </span>
                       <% end %>
                   </div>

               </div>
           </div>
           <% end %>
           <% if fixture.market18_live.present? && fixture.market18_live.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                       Under 2.5 / Over 2.5 - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row" data-controller="live-odds-channel #markets-channel slips" data-live-odds-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-slips-market="18" data-live-odds-channel-market="18" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="18" data-markets-channel-url=<%="/fixtures/soccer/live.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "13", fixture_id: fixture.id, market: "Market18Live", outcome_desc: "Total 2.5 FT - Over 2.5") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Under 2.5</span> 
                           <span class="wagger-amt" id=<%="live_13_#{fixture.id}"%>> <%= fixture.market18_live.outcome_13 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "12", fixture_id: fixture.id, market: "Market18Live", outcome_desc: "Total 2.5 FT - Under 2.5") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Over 2.5</span> 
                           <span class="wagger-amt" id=<%="live_12_#{fixture.id}"%>> <%= fixture.market18_live.outcome_12 %>  </span>
                       <% end %>
                   </div>
               </div>
           </div>

           <% end %>
           <% if fixture.market29_live.present? && fixture.market29_live.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                       Both to Score - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row" data-controller="live-odds-channel #markets-channel slips" data-live-odds-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-slips-market="29" data-live-odds-channel-market="29" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="29" data-markets-channel-url=<%="/fixtures/soccer/live.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "74", fixture_id: fixture.id, market: "Market29Live", outcome_desc: "Both To Score FT - Yes ") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Yes</span> 
                           <span class="wagger-amt" id=<%="live_74_#{fixture.id}"%>> <%= fixture.market29_live.outcome_74 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "76", fixture_id: fixture.id, market: "Market29Live", outcome_desc: "Both To Score FT - No ") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>No</span> 
                           <span class="wagger-amt" id=<%="live_76_#{fixture.id}"%>> <%= fixture.market29_live.outcome_76 %>  </span>
                       <% end %>
                   </div>
               </div>
           </div>
           <% end %>
       </div>
   </div>
</div>