<div class="registration">
  <div class="content-center cl-grey">
    <div class="row justify-content-center">
     <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mobile-signup" >
       <div class="game-box">
        <div class="card ticket-slip">

            <div class="card-header">
              <h3>BetSlip #<%= @bet_slip.id %> <span><u><%= @bet_slip.result %></u></span></h3>
            </div>
            <div class="card-body ticket-body">
                  <div class="widget-body" id="">
                      <% @bets = @bet_slip.bets %>
                      <!-- <div class="single-bet">
                         <span id="odd4"><span> <u>Fixtures</u> </span><span></span></span>
                         <span id='odd4'><u>Odds</u></span>

                      </div> -->
                      <% @bets.each do |bet| %>
                        <% fixture = Fixture.find(bet.fixture_id)%>
                        <% line_bet = LineBet.where(fixture_id: bet.fixture_id) %>
                        <fieldset>
                          <div>
                            <div>
                              <span><strong>Fixture:</strong></span>
                              <span class="float-right"> <%= fixture.comp_one_name %> - <%= fixture.comp_two_name %></span>
                            </div>
                            <div>
                              <span><strong>Odds:</strong></span>
                              <span class="float-right"><%= bet.odds %></span>
                            </div>
                            <div>
                              <span><strong>Tournament:</strong></span>
                              <span class="float-right"><%= fixture.tournament_name %></span>
                            </div>
                            <div>
                              <span><strong>Outcome:</strong></span>
                              <span class="float-right"><%= bet.outcome_desc %></span>
                            </div>
                            <div>
                              <span><strong>Start Time:</strong></span>
                              <span class="float-right"><%= fixture.scheduled_time.to_datetime.strftime("%d/%m/%Y %I:%M%P") %></span>
                            </div>
                            <div>
                              <span><strong>Status:</strong></span>
                              <span class="float-right"><%= bet.status %></span>
                            </div>
                            <div>
                              <span><strong>Result:</strong></span>
                              <span class="float-right"><%= bet.result %></span>
                            </div>
                          </div>
                          <hr>
                        </fieldset>
                      <% end %>
                      <div class="single-bet">
                         <span id="odd4"><span>Total Odds</span><span> </span></span>
                         <span id='odd4'><%= @bet_slip.odds%></span>
                      </div>
                      <div class="total-bet">
                         <span>Ticket Stake</span>
                         <span id="total-odds">UGX <%= @bet_slip.stake  %></span>
                      </div>
                      <div class="total-wins">
                         <span>Possible Win Amount</span>
                         <span id="total-wins">UGX <%= @bet_slip.potential_win_amount %></span>
                      </div>
                  </div>
                  <div class="clearfix">
                    <div class="float-right">
                      <span><%= link_to 'Back', bet_slips_path, class: "bttn-small btn-fill " %></span>
                    </div>
                  </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
