
<h6>Welcome User</h6>


<p><%= link_to 'Api Users', api_users_path %></p>

<p><%= link_to 'Create API Users', new_api_user_path %></p>

<p><%= link_to 'Deposit Money', new_transaction_path %></p>

<p><%= link_to 'Withdraw Money', transfer_path %></p>

<p><%= link_to "log out", destroy_user_session_path, :method => :get%></p>
