<div class="game-box">
    <div class="card">
        <div class="card-header">
            <h3>Football Games</h3>
            <span>Live Play</span><input type="checkbox" id="switch" /><label for="switch">Toggle</label>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tomorrow</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">All Matches</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table table-hover table-borderless table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Teams</th>
                                <th scope="col">1</th>
                                <th scope="col">3 Way <br>X</th>
                                <th scope="col">2</th>
                                <th scope="col">Yes</th>
                                <th scope="col">No</th>
                                <th scope="col">Sta</th>
                                <th scope="col">+</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table table-hover table-borderless table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Teams</th>
                                <th scope="col">1</th>
                                <th scope="col">3 Way <br>X</th>
                                <th scope="col">2</th>
                                <th scope="col">Yes</th>
                                <th scope="col">No</th>
                                <th scope="col">Sta</th>
                                <th scope="col">+</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table table-hover table-borderless table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Teams</th>
                                <th scope="col">1</th>
                                <th scope="col">3 Way <br>X</th>
                                <th scope="col">2</th>
                                <th scope="col">Yes</th>
                                <th scope="col">No</th>
                                <th scope="col">Sta</th>
                                <th scope="col">+</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/1.png" alt=""><br>
                                    <img src="assets/images/icons/teams/2.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/3.png" alt=""><br>
                                    <img src="assets/images/icons/teams/4.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/5.png" alt=""><br>
                                    <img src="assets/images/icons/teams/6.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/7.png" alt=""><br>
                                    <img src="assets/images/icons/teams/8.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/9.png" alt=""><br>
                                    <img src="assets/images/icons/teams/10.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/9.png" alt=""><br>
                                    <img src="assets/images/icons/teams/10.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/9.png" alt=""><br>
                                    <img src="assets/images/icons/teams/10.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/9.png" alt=""><br>
                                    <img src="assets/images/icons/teams/10.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/9.png" alt=""><br>
                                    <img src="assets/images/icons/teams/10.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/9.png" alt=""><br>
                                    <img src="assets/images/icons/teams/10.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/9.png" alt=""><br>
                                    <img src="assets/images/icons/teams/10.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/9.png" alt=""><br>
                                    <img src="assets/images/icons/teams/10.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                            <tr>
                                <td>04:15 <br> 13th Feb</td>
                                <td>
                                    <img src="assets/images/icons/teams/9.png" alt=""><br>
                                    <img src="assets/images/icons/teams/10.png" alt="">
                                </td>
                                <td>
                                    <strong>EC Noroeste SP</strong>
                                    <strong>Batatais FC SP</strong>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                                <td>
                                    <a href="">
                                        <img src="assets/images/icons/stat.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="btnn">2.36</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <%= link_to 'Api Users', api_users_path %>
</p>

<p>
    <%= link_to 'Create API Users', new_api_user_path %>
</p>

<p>
    <%= link_to 'Deposit Money', new_transaction_path %>
</p>

<p>
    <%= link_to 'Withdraw Money', transfer_path %>
</p>

<p>
    <%= link_to "log out", destroy_user_session_path, :method => :get%>
</p>