<% @featured.each do |fixture| %>
   <tr data-controller="pre-odds-channel #markets-channel slips" data-pre-odds-channel-fixture=<%= fixture.id %> data-markets-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-pre-odds-channel-market="1" data-markets-channel-market="1" data-slips-market="1" >
      <td>
         <a href=<%=fixtures_soccer_pre_path(id: fixture.id) %>>
            <%= local_time(fixture.start_date, format: '%H:%M:%S') %> <br>
            <%= local_time(fixture.start_date, format: '%d/%m/%y') %>
         </a>
      </td>
      <td>
         <a href=<%=fixtures_soccer_pre_path(id: fixture.id) %>>
            <strong><%= fixture.part_one_name %> </strong>
            <strong><%= fixture.part_two_name %> </strong>
         </a>
      </td>
      <td>
         <a href=<%=fixtures_soccer_pre_path(id: fixture.id) %>>
            <%= fixture.league_name %> <br>
            <%= fixture.location %>
         </a>
      </td>
      <% if fixture.market1_pre.outcome_1 < fixture.market1_pre.outcome_2 %>
         <td>
            <%= link_to(fixture.market1_pre.outcome_1, add_bet_path(outcome_id: "1", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 1") , class: "btnn intialise_input match-feat",id: "pre_feat_1_1_#{fixture.id}", remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"})%>
         </td>
         <td>
            <%= link_to(fixture.market1_pre.outcome_X, add_bet_path(outcome_id: "X", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - X") , class: "btnn intialise_input", id: "pre_feat_1_X_#{fixture.id}",remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} )%>
         </td>
         <td>
            <%= link_to(fixture.market1_pre.outcome_2, add_bet_path(outcome_id: "2", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 2") , class: "btnn intialise_input", id: "pre_feat_1_2_#{fixture.id}", remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} )%>
         </td>
      <% elsif fixture.market1_pre.outcome_2 < fixture.market1_pre.outcome_1 %>
         <td>
            <%= link_to(fixture.market1_pre.outcome_1, add_bet_path(outcome_id: "1", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 1") , class: "btnn intialise_input",id: "pre_feat_1_1_#{fixture.id}", remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"})%>
         </td>
         <td>
            <%= link_to(fixture.market1_pre.outcome_X, add_bet_path(outcome_id: "X", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - X") , class: "btnn intialise_input", id: "pre_feat_1_X_#{fixture.id}",remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} )%>
         </td>
         <td>
            <%= link_to(fixture.market1_pre.outcome_2, add_bet_path(outcome_id: "2", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 2") , class: "btnn intialise_input match-feat", id: "pre_feat_1_2_#{fixture.id}", remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} )%>
         </td>
      <% else %>
         <td>
            <%= link_to(fixture.market1_pre.outcome_1, add_bet_path(outcome_id: "1", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 1") , class: "btnn intialise_input",id: "pre_feat_1_1_#{fixture.id}", remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"})%>
         </td>
         <td>
            <%= link_to(fixture.market1_pre.outcome_X, add_bet_path(outcome_id: "X", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - X") , class: "btnn intialise_input", id: "pre_feat_1_X_#{fixture.id}",remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} )%>
         </td>
         <td>
            <%= link_to(fixture.market1_pre.outcome_2, add_bet_path(outcome_id: "2", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 2") , class: "btnn intialise_input", id: "pre_feat_1_2_#{fixture.id}", remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} )%>
         </td>
      <%end%>
   </tr>
<% end %>