<% fixtures.each do |fixture| %>
   <% if fixture.market1_pre.status == "Active" %>
      <tr>
        <td>
          <a href=<%=fixtures_soccer_pre_path(id: fixture.id) %>>
             <%= fixture.scheduled_time.strftime("%H:%M:%S ") %> <br>
             <%= fixture.scheduled_time.strftime("%d/%m/%y") %>
          </a>
        </td>
        <td>
          <a href=<%=fixtures_soccer_pre_path(id: fixture.id) %>>
            <strong><%= fixture.comp_one_name %></strong>
            -
            <strong><%= fixture.comp_two_name %></strong>
          </a>
         </td>
        <td>
           <a href=<%=fixtures_soccer_pre_path(id: fixture.id) %>>
              <%= fixture.tournament_name %> <br>
           </a>
        </td>

        <td>
           <%= link_to(fixture.market1_pre.outcome_1, add_bet_path(outcome_id: "1", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 1") , class: "btnn intialise_input",id:'odd1', remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"})%>
        </td>
        <td>
           <%= link_to(fixture.market1_pre.outcome_2, add_bet_path(outcome_id: "2", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - X") , class: "btnn intialise_input", id:'odd2',remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} )%>
        </td>
        <td>
           <%= link_to(fixture.market1_pre.outcome_3, add_bet_path(outcome_id: "3", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 2") , class: "btnn intialise_input", id:'odd3', remote: true, method: :post, data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} )%>
        </td>
      </tr>
   <% end %>
<% end %>
