<div class="card-header">
   <h6>
       <%= fixture.part_one_name %> -
       <%= fixture.part_two_name %>,
       <%= fixture.league_name %>
       <%= fixture.location %>
   </h6>
</div>
<div class="card-body">
   <div class='row'>
       <div class="col-lg-12">
           <% if fixture.market1_pre.present? && fixture.market1_pre.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                       Match Result 1X2 - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row" data-controller="pre-odds-channel #markets-channel slips" data-pre-odds-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-slips-market="1" data-pre-odds-channel-market="1" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="1" data-markets-channel-url=<%="/fixtures/soccer/pre.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "1", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 1") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Home Win</span> 
                           <span class="wagger-amt" id=<%="pre_1_#{fixture.id}"%>> <%= fixture.market1_pre.outcome_1 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "X", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - X") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Draw</span> 
                           <span class="wagger-amt" id=<%="pre_2_#{fixture.id}"%>> <%= fixture.market1_pre.outcome_X %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "2", fixture_id: fixture.id, market: "Market1Pre", outcome_desc: "1X2 FT - 2") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Away Win</span> 
                           <span class="wagger-amt" id=<%="pre_3_#{fixture.id}"%>> <%= fixture.market1_pre.outcome_2 %>  </span>
                       <% end %>
                   </div>
               </div>
           </div>
           <% end %>
           <% if fixture.market7_pre.present? && fixture.market7_pre.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                       Double Chance - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row market" data-controller="pre-odds-channel #markets-channel slips" data-pre-odds-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-slips-market="7" data-pre-odds-channel-market="7" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="7" data-markets-channel-url=<%="/fixtures/soccer/pre.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "1X", fixture_id: fixture.id, market: "Market7Pre", outcome_desc:  "Double Chance FT - HW/DR") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Home Win / Draw</span> 
                           <span class="wagger-amt" id=<%="pre_9_#{fixture.id}"%>> <%= fixture.market7_pre.outcome_1X %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "12", fixture_id: fixture.id, market: "Market7Pre", outcome_desc: "Double Chance FT - HW/AW") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Home / Away</span> 
                           
                           <span class="wagger-amt" id=<%="pre_10_#{fixture.id}"%>> <%= fixture.market7_pre.outcome_12 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-4">
                       <%= link_to(add_bet_path(outcome_id: "X2", fixture_id: fixture.id, market: "Market7Pre", outcome_desc: "Double Chance FT - DR/AW") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Draw / Away Win</span> 
                           <span class="wagger-amt" id=<%="pre_11_#{fixture.id}"%>> <%= fixture.market7_pre.outcome_X2 %>  </span>
                       <% end %>
                   </div>
               </div>
           </div>
           <% end %>
           <% if fixture.market3_pre.present? && fixture.market3_pre.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                      Asian Handicap 1 Goal - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row" data-controller="pre-odds-channel #markets-channel slips" data-pre-odds-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-slips-market="3" data-pre-odds-channel-market="3" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="3" data-markets-channel-url=<%="/fixtures/soccer/pre.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "1", fixture_id: fixture.id, market: "Market3Pre", outcome_desc: "Handicap 1 FT -  HW") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Home -1</span> 
                           <span class="wagger-amt" id=<%="pre_1714_#{fixture.id}"%>> <%= fixture.market3_pre.outcome_1 %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "2", fixture_id: fixture.id, market: "Market3Pre", outcome_desc: "Handicap 1 FT -  AW") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Away -1</span> 
                           <span class="wagger-amt" id=<%="pre_1715_#{fixture.id}"%>> <%= fixture.market3_pre.outcome_2 %>  </span>
                       <% end %>
                   </div>

               </div>
           </div>
           <% end %>
           <% if fixture.market2_pre.present? && fixture.market2_pre.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                       Under 2.5 / Over 2.5 - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row" data-controller="pre-odds-channel #markets-channel slips" data-pre-odds-channel-fixture=<%= fixture.id %>  data-slips-fixture=<%= fixture.id %> data-slips-market="2" data-pre-odds-channel-market="2" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="2" data-markets-channel-url=<%="/fixtures/soccer/pre.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "Under", fixture_id: fixture.id, market: "Market2Pre", outcome_desc: "Total 2.5 FT - Under 2.5") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Under 2.5</span> 
                           <span class="wagger-amt" id=<%="pre_13_#{fixture.id}"%>> <%= fixture.market2_pre.outcome_Under %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "Over", fixture_id: fixture.id, market: "Market2Pre", outcome_desc: "Total 2.5 FT - Over 2.5") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Over 2.5</span> 
                           <span class="wagger-amt" id=<%="pre_12_#{fixture.id}"%>> <%= fixture.market2_pre.outcome_Over %>  </span>
                       <% end %>
                   </div>
               </div>
           </div>

           <% end %>
           <% if fixture.market17_pre.present? && fixture.market17_pre.status == "Active" %>
           <div class="market-label">
               <div class="row">
                   <div class="col-lg-12 ">
                       Both to Score - FT
                   </div>
               </div>
           </div>
           <div class="market-odds mb-3 mt-3">
               <div class="row" data-controller="pre-odds-channel #markets-channel slips" data-pre-odds-channel-fixture=<%= fixture.id %> data-slips-fixture=<%= fixture.id %> data-slips-market="17" data-pre-odds-channel-market="17" data-markets-channel-fixture=<%= fixture.id %> data-markets-channel-market="17" data-markets-channel-url=<%="/fixtures/soccer/pre.js?id=#{fixture.id}" %> data-markets-channel-method="GET">
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "Yes", fixture_id: fixture.id, market: "Market17Pre", outcome_desc: "Both To Score FT - Yes") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>Yes</span> 
                           <span class="wagger-amt" id=<%="pre_74_#{fixture.id}"%>> <%= fixture.market17_pre.outcome_Yes %>  </span>
                       <% end %>
                   </div>
                   <div class="col-lg-6">
                       <%= link_to(add_bet_path(outcome_id: "No", fixture_id: fixture.id, market: "Market17Pre", outcome_desc: "Both To Score FT - No") , class: "btn btn-light wagger-btn intialise_input", remote: true, method: :post )  do %>
                           <span>No</span> 
                           <span class="wagger-amt" id=<%="pre_76_#{fixture.id}"%>> <%= fixture.market17_pre.outcome_No %>  </span>
                       <% end %>
                   </div>
               </div>
           </div>
           <% end %>
       </div>
   </div>
</div>