<% provide(:title, "Pre Match Soccer") %>
<!-- Start Featured Fixtures Table -->

<div class="game-box" id="featured">
    <div class="card">
        <div class="card-header">
            <h3>Featured Fixtures - Soccer</h3>
        </div>
        <% if !@featured.empty? && @check_params == false %>
          <div class="card-body">
              <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <table class="table table-borderless ">
                          <thead>
                            <tr>
                                <th class="col-2">Date</th>
                                <th class="col-4">Teams</th>
                                <th class="col-3">Tournament</th>
                                <th class="col-1">1</th>
                                <th class="col-1">X</th>
                                <th class="col-1">2</th>
                            </tr>
                          </thead>
                          <tbody id="fixture-table-body-1" data-controller="refresh" data-refresh-interval="60000" data-refresh-url="<% page_refresh_path %>" data-refresh-method="GET">
                              <%= render partial: 'feat_pre_match_fixture_table', locals: {featured: @featured} %>
                          </tbody>
                      </table>
                      <div class="table-navigation">
                          <div class="">
                            <%= link_to "Show More".html_safe, fixtures_soccer_featured_path, id: "live-tab", class: "bttn-small btn-fill show-more" %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        <%else%>
            <div class="card-body">
                <div class="tab-content" id="">
                    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                        <h6 class=" event">No Featured Matches</h6>                
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>


<!-- End Featured Fixtures Table -->

<!-- Start All Fixtures Table -->
<div class="game-box">

    <div class="card">
        <div class="card-header upcoming">
            <h3>Upcoming - Soccer <i class='fas fa-futbol fa-lg fa-fw mr-2 match-time'></i></h3>
            <span class="float-right">
              <%= link_to "<i class='fas fa-bolt'></i> Live".html_safe, fixtures_soccer_lives_path, id: "live-tab", class: "btnn btn-blink", data: {target: "tabs.date", action: "click->tabs#activate"} %>
            </span>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                    <% if @fixtures.present? %>
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" data-controller="match-fixtures">
                    
                      
                        <table class="table table-borderless ">
                          <thead>
                            <tr>
                                <th class="col-2">Date</th>
                                <th class="col-4">Teams</th>
                                <th class="col-3">Tournament</th>
                                <th class="col-1">1</th>
                                <th class="col-1">X</th>
                                <th class="col-1">2</th>
                            </tr>
                          </thead>
                          <tbody id="fixture-table-body" data-target="match-fixtures.fixtures" data-controller="refresh" data-refresh-interval="60000" data-refresh-url="<% page_refresh_path %>" data-refresh-method="GET">
                              <%= render partial: 'pre_match_fixture_table', locals: {fixtures: @fixtures} %>
                          </tbody>
                          </table>
                          <div id="bottom">
                              <div class="d-flex justify-content-center">
                                  <div data-target="match-fixtures.spinner" id="spinner"></div>
                              </div>
                              <div class="table-navigation" data-target="match-fixtures.pagination">
                                  <%== pagy_nav(@pagy) %>
                              </div>
                          </div>
                        </div>
                    <%else%>
                            <td>
                                <h6 class="event">No Upcoming Events</h6>
                            </td>
                    <%end%> 
            </div>
        </div>
    </div>
</div>

<!-- End All Fixtures Table -->
