<div class="game-box">
    <div class="card" id="show-markets" data-controller="fixture-channel refresh markets-channel" data-markets-channel-fixture=<%= @fixture.id %> data-fixture-channel-fixture=<%= @fixture.id %> data-refresh-interval="60000" data-refresh-url=<%="/fixtures/soccer/pre.js?id=#{@fixture.id}" %> data-refresh-method="GET" data-markets-channel-url=<%="/fixtures/soccer/pre.js?id=#{@fixture.id}" %> data-markets-channel-method="GET">
        <%= render partial: 'show_markets', locals: {fixture: @fixture} %>
    </div>
</div>