<div class="row">
  <div class="block-center mt-4 col-sm-12 col-md-8 col-lg-6 ">
    <!-- START card-->
    <div class="card card-dark card-default">
       <div class="card-body">
          <p class="text-center py-2">New API User</p>
          <%= form_with(model: @broadcast,url: backend_broadcasts_path, local: true, :html => {:"data-parsley-validate" => ''}, class: "mb-lg") do |f| %>

          <% if broadcast.errors.any? %>
          <div id="error_explanation">
            <h2 class="errors"><%= pluralize(broadcast.errors.count, "error") %> prohibited this broadcast from being saved:</h2>
          </div>
        <% end %>
 
           <div class="form-row form-group">
             <div class="col-sm-6 col-md-6">
                   <%= f.label :start_date, "From", class:"col-md-6 col-form-label" %>
                   <%= f.search_field :start_date, {class: "form-control", id: "bet_after", placeholder: "Start Date"} %>
                   <div ><%= model_error(@broadcast, :start_date)%></div>
             </div>
             <div class="col-sm-6 col-md-6">
                   <%= f.label :end_date, "To", class:"col-md-6 col-form-label" %>
                   <%= f.search_field :end_date, {:class=>"form-control", id: "bet_before", placeholder: "End Date"}%>
                   <div ><%= model_error(@broadcast, :end_date)%></div>
             </div>
           </div>
 
           <div class="form-group">
             <%= f.label :subject, "Subject", class: "text-muted" %>
             <%= f.text_field :subject, class: "form-control", placeholder: "Subject/Purpose" %>
             <div ><%= model_error(@broadcast, :subject)%></div>
           </div>
 
           <div class="form-group">
             <%= f.label :message, "Broadcast Message", class: "text-muted" %>
             <%= f.text_area :message, class: "form-control wysiwyg mt-lg",  placeholder: "Type your message here ...", id: "broadcast_compose_message", rows: 8 %>

             <div class="large-10 columns">
               <div class="large-10 columns">
                 <p class=" ucc_warning">
                   <span id="broadcast_char_count">160 character left </span>
                   <span id="broadcast_number_of_messages">1 message </span>
                 </p>
               </div>
             </div>
             <div ><%= model_error(@broadcast, :message)%></div>
             
           </div>
 
           <div class="form-group">
             <%= f.label :execution_time, "Schedule", class: "text-muted" %>
             <%= f.search_field :execution_time, id: "broadcast_schedule", class: "form-control", placeholder: "Execution Time" %>
             <div ><%= model_error(@broadcast, :execution_time)%></div>
           </div>
 
           <div class="w-50 col-6 ">
             <%= f.submit "Schedule", class: "btn btn-block btn-danger mt-lg" %>
           </div>
         <% end %>
       </div>
    </div>
    <!-- END card-->
 </div>
</div>


