<%= form_tag(verify_path, :method => "put") do %>
  <%= label_tag(:pin, "Pin") %>
  <%= text_field_tag(:pin) %>
  <%= submit_tag("Verify") %>
<% end %>

<!-- <p><#%= link_to 'Receive code via Email', send_verification_path %></p> -->

<p><%= link_to 'Resend code', resend_verify_path, method: :post %></p>
