<% provide(:title, "Transactions") %>
<div class="game-box">
    <div class="card">
        <div class="card-header">
            <h3>Transactions</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">All Transactions</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active table-responsive" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table table-borderless table-striped">
                        <%if @transactions.present?%>
                        <thead>
                            <tr>
                                <th>#No</th>
                                <th>Phone Number</th>
                                <th>Amount</th>
                                <th>Balance Before</th>
                                <th>Balance After</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Time</th>
                            </tr>
                        </thead>

                        <tbody>

                            <% @transactions.each_with_index do |transaction, i| %>
                            <tr>
                                <td>
                                    <%= (i+1) %>
                                </td>
                                <td>
                                    <%= transaction.phone_number %>
                                </td>
                                <% if transaction.category == "Deposit" %>
                                <td class="deposit">+
                                    <%= number_to_currency(transaction.amount, unit: "UGX") %>
                                </td>
                                <% elsif (transaction.category == "Withdraw") || (transaction.category == "Bet Stake")  %>
                                <td class="withdraw">-
                                    <%= number_to_currency(transaction.amount, unit: "UGX") %>
                                </td>
                                <% else %>
                                <td class="deposit">+
                                    <%= number_to_currency(transaction.amount, unit: "UGX") %>
                                </td>
                                <% end %>
                                <td>
                                    <%= number_to_currency(transaction.balance_before, unit: "UGX") %>
                                </td>
                                <td>
                                    <%= number_to_currency(transaction.balance_after, unit: "UGX") %>
                                </td>
                                <td>
                                    <%= transaction.category %>
                                </td>
                                <td>
                                    <%= transaction.status %>
                                </td>
                                <td>
                                    <%= local_time(transaction.created_at, format: "%d/%m/%y %l:%M%P") %>
                                </td>
                            </tr>
                            <% end %>

                        </tbody>
                        <%else%>
                        <h6 class="event">No transactions.</h6>
                        <%end%>
                    </table>
                    <%= paginate @transactions %>
                </div>
            </div>
        </div>
    </div>
</div>