<div class="login">
   <div class="content-center cl-grey">
      <div class="row justify-content-center">
         <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">

            <div class="web-sidebar-widget login-widget">
               <div class="widget-head">
                    <h3>Withdraw Money </h3>
               </div>
               <div class="widget-body">
                     <%= form_tag(withdraw_path, :method => "post") do %>

                    <div class="form-group">
						<%= label_tag(:phone_number, "Phone Number : ") %>
						<%= text_field :phone_number, autofocus: true , class: "form-control", id: 'phone_number',required: true %>
					</div>
                     <hr>
                    <div class="form-group">
						<%= label_tag(:amount, "Amount  : " ) %>
						<%= number_field_tag :amount,id: 'amount' %>

					</div>              
                     
                     <div class="actions">
                        <%= submit_tag("Withdraw Amount", class: 'btn btn-block btn-primary mt-lg login-btn')%>
                     </div>
                     <% end %>
 
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



