<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="sidebar-nav">
         <!-- Iterates over all sidebar items-->
         <li class="<%= 'active' if controller.controller_name == 'admin_landing' %>">
            <a href="/" title="Dashboard">
               <em class="icon-home"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
            </a>
         </li>

         <li class="">
            <a href="#finances" title="Finances" data-toggle="collapse">
               <em class="far fa-money-bill-alt"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Finances</span>
            </a>
            <ul id="finances" class="sidebar-nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Finances</li>
               <li class="<%= 'active' if controller.controller_name == 'withdraws' %>">
                  <a href="<%= withdraws_path %>" title="Withdraws">
                     <span>Withdraws</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'deposits' %>">
                  <a href="<%= deposits_path %>" title="Deposits">
                     <span>Deposits</span>
                  </a>
               </li>
            </ul>
         </li>

         <li class="<%= 'active' if controller.controller_name == 'bet_users' %>">
            <a href="<%= users_path %>" title="Users">
               <em class="fas fa-users"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Users</span>
            </a>
         </li>

         <li class="">
             <a href="soccer_fixtures" title="Users">
               <em class="fas fa-futbol"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Soccer Fixtures</span>
            </a>
            <ul id="#soccer_fixtures" class="sidebar-nav sidebar-subnav collapse">
               <li class="<%= 'active' if controller.controller_name == 'Soccer::Fixtures::live_match_fixtures' %>">
                  <a href="<%= fixtures_soccer_live_match_fixtures_path %>" title="Live">
                     <span>Live</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'Soccer::Fixtures::pre_match_fixtures' %>">
                  <a href="<%= fixtures_soccer_pre_match_fixtures_path %>" title="Pre Match">
                     <span>Pre Match</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'Soccer::Fixtures::virtual_fixtures' %>">
                  <a href="<%= fixtures_soccer_virtual_fixtures_path %>" title="Virtual">
                     <span>Virtual</span>
                  </a>
               </li>
            </ul>
         </li>

         <li class="">
            <a href="#descriptions" title="Descriptions" data-toggle="collapse">
               <em class="fas fa-info-circle"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Descriptions</span>
            </a>
            <ul id="finances" class="sidebar-nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Descriptions</li>
               <li class="<%= 'active' if controller.controller_name == 'betstop_reasons' %>">
                  <a href="<%= betstop_reasons_path %>" title="Betstop Reasons">
                     <span>Betstop Reasons</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'betting_statuses' %>">
                  <a href="<%= betting_statuses_path %>" title="Betting Statuses">
                     <span>Betting Statuses</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'void_reasons' %>">
                  <a href="<%= void_reasons_path %>" title="Void Reasons">
                     <span>Void Reasons</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'match_statuses' %>">
                  <a href="<%= match_statuses_path %>" title="Match Statuses">
                     <span>Match Statuses</span>
                  </a>
               </li>
            </ul>
         </li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->
