<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="sidebar-nav">
         <!-- Iterates over all sidebar items-->
         <li class="<%= 'active' if controller.controller_name == 'admin_landing' %>">
            <a href="#dashboard" title="Dashboard" data-toggle="collapse">
               <em class="icon-home"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Admin Dashboard</span>
            </a>
         </li>

         <li class="">
            <a href="#finances" title="Finances" data-toggle="collapse">
               <em class="far fa-money-bill-alt"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Finances</span>
            </a>
            <ul id="finances" class="sidebar-nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Finances</li>
               <li class="<%= 'active' if controller.controller_name == 'withdraws' %>">
                  <a href="<%= withdraws_path %>" title="Withdraws">
                     <span>Withdraws</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'deposits' %>">
                  <a href="<%= deposits_path %>" title="Deposits">
                     <span>Deposits</span>
                  </a>
               </li>
            </ul>
         </li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->
