

<div class="row">
   <div class="col-12">
      <div data-action="click->main#closeSlip" class="float-right action-tab">
         <i class="far fa-window-close fa-2x"></i>
      </div>
   </div>
</div>

<div class="clear-slip" onclick="localStorage.removeItem('stake')"><%= link_to  "Remove All", clear_slip_path , remote: true, method: :delete %></div>
<div class="bets" id = "bets-row" data-controller = "slips" data-slips-mobile="true" data-slips-key="fixtures">
   <% if !@cart.nil? && @cart.line_bets.present?  %>
      <% @cart.line_bets.each do |bet| %>
            <% if fetch_market_status(bet.market, bet.fixture_id) == "Active" %>
                <div class="row">
                  <div class="col-12">
                    <div class="single-bet close-linebet">
                       <div class="col-1"><%= link_to '<i class="far fa-window-close"></i>'.html_safe, clear_bet_path(id: bet.id), remote: true, method: :delete %></div>
                       <div class="col-9" id="comp-names"><span> <%= bet.fixture.comp_one_name %> - <%= bet.fixture.comp_two_name %> </span><span> <%= bet.description %></span></div>
                       <div class="col-2" data-fixture_id=<%="#{bet.fixture_id}"%> data-outcome=<%="outcome_#{bet.outcome}"%> data-target="slips.odd" <%= "slip_odd#{bet.outcome}_#{bet.fixture_id}" %>><%= fetch_current_odd(bet.market, bet.fixture_id, bet.outcome) %></div>
                    </div>
                  </div>
                </div>
            <% end %>
      <% end %>
      <% if user_signed_in? %>
         <%= form_with(url: bet_slips_path, method: "post", remote: true) do %>
         <div class="row">
           <div class="col-12">
              <div class="phone-betslip">
                <div class="total-bet">
                  <span class="col-8" data-action="keyup->slips#calculate_win" data-target="slips.stake" > <%= text_field_tag :stake, nil, placeholder: " Stake Amount" ,id: "stake-input" %> </span>
                  <span class="col-4" id="total-odds" data-target="slips.total"></span>
                </div>
              </div>
           </div>
         </div>
         <div class="row">
           <div class="col-12">
             <div class="phone-betslip">
               <div class="total-wins">
                  <span>Possible Win Amount</span>
                  <span id="total-wins" data-target="slips.wins"> </span>
               </div>
             </div>
           </div>
         </div>
         <%= hidden_field_tag(:cart_id, @cart.id) %>
         <div clas="actions" onclick="localStorage.removeItem('stake')">
            <%= button_tag "Place Bet", class: "btn btn-block btn-primary mt-lg login-btn", id:'place_bet', data: {disable_with: "<i class='fas fa-spinner fa-spin'></i> Placing Bet..."}  %>
         </div>
         <% end %>
      <% else %>
         <div class="total-bet">
           <span class="col-8" data-action="keyup->slips#calculate_win" data-target="slips.stake" > <%= text_field_tag :stake, nil, placeholder: " Stake Amount" ,id: "stake-input" %> </span>
            <span class="col-4" id="total-odds" data-target="slips.total"></span>
         </div>
         <div class="total-wins">
            <span>Payout</span>
            <span id="total-wins" data-target="slips.wins"> </span>
         </div>
         <%= link_to "Login", new_user_session_path,  method: "get", class: "btn btn-block btn-primary mt-lg login-btn", id:'slip_login',data: {disable_with: "<i class='fas fa-spinner fa-spin'></i> Redirecting to Login page..."}  %>
      <% end %>

   <% end %>
</div>
