<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
    <aside class="content-sidebar">
        <h3>Sports</h3>
        <ul>
            <li><a href= <%= fixtures_soccer_pres_path %>> <i class="far fa-futbol fa-lg fa-fw mr-2 text-gray-400"></i>Soccer</a></li>
            <li><a href= <%= fixtures_virtual_soccer_pres_path %>> <i class="fas fa-trophy fa-lg fa-fw mr-2 text-gray-400"></i>e-Soccer</a></li>

        </ul>
    </aside>

    <aside class="content-sidebar">
        <h3>Leagues</h3>
        <ul>
            <li class="text-gray-400"><%= link_to "UEFA Champions League", fixtures_soccer_pres_path(:'leag[tournament_name]' => "UEFA Champions League"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "UEFA Europa League", fixtures_soccer_pres_path(:'leag[tournament_name]' => "UEFA Europa League"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "English Premier League", fixtures_soccer_pres_path(:'leag[tournament_name]' => "English Premier League"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "Serie A", fixtures_soccer_pres_path(:'leag[tournament_name]' => "Serie A"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "La Liga", fixtures_soccer_pres_path(:'leag[tournament_name]' => "La Liga"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "Bundesliga", fixtures_soccer_pres_path(:'leag[tournament_name]' => "Bundesliga"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "Portuguese Liga", fixtures_soccer_pres_path(:'leag[tournament_name]' => "Portuguese Primera Liga"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "A-League", fixtures_soccer_pres_path(:'leag[tournament_name]' => "A-League"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "K-League", fixtures_soccer_pres_path(:'leag[tournament_name]' => "K-League"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "J-League", fixtures_soccer_pres_path(:'leag[tournament_name]' => "J-League"),  remote: true %></li>
            <li class="text-gray-400"><%= link_to "Brazil Serie A", fixtures_soccer_pres_path(:'leag[tournament_name]' => "Brazil-Serie A"),  remote: true %></li>
        </ul>
    </aside>

    <aside class="content-sidebar">
        <h3>Countries</h3>
        <ul>
            <li class="text-gray-400"><i class="flag-icon flag-icon-gb fa-fw mr-2"></i><%= link_to "England", fixtures_soccer_pres_path(:'cty[category]' => "England"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-es fa-fw mr-2"></i><%= link_to "Spain", fixtures_soccer_pres_path(:'cty[category]' => "Spain"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-de fa-fw mr-2"></i><%= link_to "Germany", fixtures_soccer_pres_path(:'cty[category]' => "Germany"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-it fa-fw mr-2"></i><%= link_to "Italy", fixtures_soccer_pres_path(:'cty[category]' => "Italy"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-fr fa-fw mr-2"></i><%= link_to "France", fixtures_soccer_pres_path(:'cty[category]' => "France"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-nl fa-fw mr-2"></i><%= link_to "Netherlands", fixtures_soccer_pres_path(:'cty[category]' => "Netherlands"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-gb-sct fa-fw mr-2"></i><%= link_to "Scotland", fixtures_soccer_pres_path(:'cty[category]' => "Scotland"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-be fa-fw mr-2"></i><%= link_to "Belgium", fixtures_soccer_pres_path(:'cty[category]' => "Belgium"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-br fa-fw mr-2"></i><%= link_to "Brazil", fixtures_soccer_pres_path(:'cty[category]' => "Brazil"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-au fa-fw mr-2"></i><%= link_to "Australia", fixtures_soccer_pres_path(:'cty[category]' => "Australia"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-cn fa-fw mr-2"></i><%= link_to "China", fixtures_soccer_pres_path(:'cty[category]' => "China"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-mx fa-fw mr-2"></i><%= link_to "Mexico", fixtures_soccer_pres_path(:'cty[category]' => "Mexico"),  remote: true %></li>
            <li class="text-gray-400"><i class="flag-icon flag-icon-qa fa-fw mr-2"></i><%= link_to "Qatar", fixtures_soccer_pres_path(:'cty[category]' => "Qatar"),  remote: true %></li>
        </ul>
    </aside>
</div>
