<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + Ruby on Rails">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>Angle - Bootstrap Admin Template</title>
   <!-- =============== APP STYLES ===============-->
   <%= stylesheet_link_tag 'admin_assets/application', media: 'all', id: "maincss" %>

   <%= yield :vendor_css_area %>

   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>
</head>

<body>
   <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <%= render partial: "layouts/admin_partials/topnavbar" %>
      </header>
      <!-- sidebar-->
      <aside class="aside-container">
        <%= render partial: "layouts/admin_partials/sidebar" %>
      </aside>
      <!-- Main section-->
      <section class="section-container">
         <!-- Page content-->
         <div class="content-wrapper">
            <%= yield %>
         </div>
      </section>
      <!-- Page footer-->
      <footer class="footer-container">
         <%= render partial: "layouts/admin_partials/footer" %>
      </footer>
   </div>

   <!-- =============== APP SCRIPTS ===============-->
   <%= javascript_packs_with_chunks_tag 'admin_assets/application' %>
   <%= yield :vendor_js_area %>

   <%= yield :body_area %>

</body>

</html>
