<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Skyline Sportsbook">
    <meta name="keywords" content="">

    <title>Skyline SportsBook |
        <%= yield(:title) %>
    </title>
    <%= render partial: "layouts/partials/google_analytics" %>
        <!-- Custom fonts for this template-->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- =============== APP STYLES ===============-->
        <%= stylesheet_link_tag 'user_assets/application', media: 'all', id: "maincss" %>
            <!-- =============== VIEW STYLES ===============-->
            <!-- <#%= stylesheet_link_tag params[:controller] %> -->
            <%= yield :vendor_css_area %>
                <%= csrf_meta_tags %>
                    <%= csp_meta_tag %>
                        <!-- =============== APP SCRIPTS ===============-->
                        <%= javascript_pack_tag 'user_application', 'data-turbolinks-track': 'reload'  %>
                            <%= yield :vendor_js_area %>

                                <<<<<<< HEAD <%=y ield :body_area %>
                                    =======
                                    <!-- =============== APP STYLES ===============-->
                                    <%= stylesheet_link_tag 'user_assets/application', media: 'all', id: "maincss" %>

                                        <!-- =============== VIEW STYLES ===============-->
                                        <!-- <#%= stylesheet_link_tag params[:controller] %> -->
                                        <%= yield :vendor_css_area %>
                                            <%= csrf_meta_tags %>
                                                <%= csp_meta_tag %>
                                                    <!-- =============== APP SCRIPTS ===============-->
                                                    <%= javascript_pack_tag 'user_application', 'data-turbolinks-track': 'reload'  %>
                                                        <%= yield :vendor_js_area %>

                                                            <%= yield :body_area %>
                                                                >>>>>>> origin/master


</head>

<body>
    <div class="wrapper">
        <!-- top navbar-->
        <header class="header-area gradient-bg">
            <%= render partial: "layouts/partials/topnavbar" %>
        </header>
        <!-- Main section-->
        <section class="section-container">
            <!-- Page content-->
            <div class="content-wrapper">

                <div class="container-fluid">
                    <div class="row">
                        <%= render partial: "layouts/partials/sidebar" %>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 mt-40">
                                <div>
                                    <%= render partial: "layouts/partials/flash" %>
                                        <%= yield %>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">

                                <div class="web-sidebar-widget">
                                    <div class="widget-head">
                                        <h3>Ticket Betslip</h3>
                                    </div>
                                    <div class="widget-body" id="betslip">
                                        <%= render 'layouts/partials/betslip.html.erb' %>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page footer-->
        <footer class="footer-container">
            <%= render partial: "layouts/partials/footer" %>
        </footer>
    </div>

    <body>


</html>